{% extends "base.html" %}

{% block title %}
- トップ -
{% endblock %}

{% block contents %}
<div class="container">
    <div class="index">
        <h1>Todo リスト</h1>
        <a href="{% url 'add' %}" class="button edit">タスクを追加</a>
        <ul>
            {% for task in todo_list %}
                <li class="{% if task.complete %}complete{% endif %}">
                    <form action="{% url 'update_task_complete' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <input type="checkbox" name="task_{{ task.id }}" onchange="this.form.submit()" {% if task.complete %}checked{% endif %}>
                        <div class="task-header">
                            <span class="task-title">{{ task.title }}</span>
                            <span class="task-date">
                                {{ task.start_date|date:"Y年m月d日 H:i" }} - {{ task.end_date|date:"Y年m月d日 H:i" }}
                            </span>
                        </div>
                        <p class="task-description">{{ task.description }}</p>
                    </form>
                    <form action="{% url 'delete_task' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button type="submit" class="button delete">削除</button>
                    </form>
                    <a href="{% url 'edit' task.id %}" class="button edit">編集</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
